global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        stats socket /run/haproxy/admin.sock mode 660 level admin
        stats timeout 30s
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

frontend http-in
    bind *:80
    mode http
    option httplog
    default_backend no_route

backend no_route
    mode http
    errorfile 503 /etc/haproxy/errors/503.http


# This rule needed to be crafted on cloudflare:
# - First needed to log into cloudflare and navigate over to the 'Rules' tab
# - Then needed to add an origin rule to forward this request using port 8443
# - Finally, needed to add a 'Request Header Transform Rule' to add the SNI header:
#   - Set static X-Forwarded-SNI = plex.rc-server.com
# - This allows a tcp backend for plex that fixes issues presented with http overhead
frontend plex-cf-in
    bind *:8443 ssl crt /etc/haproxy/certs ssl-min-ver TLSv1.2
    mode tcp
    tcp-request inspect-delay 300ms
    tcp-request content accept if { req_ssl_hello_type 1 }
    acl is_plex req.hdr(X-Forwarded-SNI) -i plex.rc-server.com
    use_backend plex_backend if is_plex
    default_backend no_route

frontend https-in
    bind *:443 ssl crt /etc/haproxy/certs ssl-min-ver TLSv1.3
    mode http
    # Frontends
    acl sonarr_frontend hdr(X-Forwarded-SNI) -i sonarr.rc-server.com
    acl radarr_frontend hdr(X-Forwarded-SNI) -i radarr.rc-server.com
    acl proxmox_web hdr(host) -i proxmox.homelab.lan
    acl vault_frontend hdr(host) -i vault.homelab.lan
    acl consul_frontend hdr(host) -i consul.homelab.lan
    acl nas_ui_frontend hdr(host) -i nas.homelab.lan
    acl pfsense_frontend hdr(host) -i pfsense.homelab.lan
    # Backends
    use_backend sonarr_backend if sonarr_frontend
    use_backend radarr_backend if radarr_frontend
    use_backend vault_backend if vault_frontend
    use_backend consul_backend if consul_frontend
    use_backend proxmox_webui_backend if proxmox_web
    use_backend nas_ui_backend if nas_ui_frontend
    use_backend pfsense_backend if pfsense_frontend
    # Default Backend
    default_backend truenas_backend

backend sonarr_backend
    mode http
    server TrueNas 10.243.0.4:8989

backend radarr_backend
    mode http
    server TrueNas 10.243.0.4:7878

backend truenas_backend
    mode http
    server TrueNas 10.243.0.4:443

backend nas_ui_backend
    mode http
    server TrueNas 10.243.0.4:444 ssl crt /etc/haproxy/certs/nas.pem verify required ca-file /etc/haproxy/ca/pki-tn-chain.pem

backend pfsense_backend
    mode http
    server pfsense 10.10.10.1:4443 ssl crt /etc/haproxy/certs/pfsense.pem verify required ca-file /etc/haproxy/ca/pki-pfsense-chain.pem

backend plex_backend
    mode tcp
    server TrueNas 10.243.0.4:32400

backend proxmox_webui_backend
    mode http
    option httpchk GET /api2/json
    server pveHost 10.243.0.3:8006 ssl crt /etc/haproxy/certs/pveHost.pem verify required ca-file /etc/haproxy/ca/pki-lb-chain.pem

backend vault_health
    mode http
    option httpchk GET /v1/sys/health?standbyok=false
    http-check expect rstatus 200
    server vault-01 192.168.20.6:8201 ssl check no-send-proxy check-sni vault-01.homelab.lan verify required ca-file /etc/haproxy/ca/pki-vault-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
    server vault-02 192.168.20.7:8201 ssl check no-send-proxy check-sni vault-02.homelab.lan verify required ca-file /etc/haproxy/ca/pki-vault-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
    server vault-03 192.168.20.8:8201 ssl check no-send-proxy check-sni vault-03.homelab.lan verify required ca-file /etc/haproxy/ca/pki-vault-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem

backend vault_backend
    mode http
    balance roundrobin
    server vault-01 192.168.20.6:8200 send-proxy track vault_health/vault-01 ssl sni str("vault-01.homelab.lan") verify required ca-file /etc/haproxy/ca/pki-vault-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
    server vault-02 192.168.20.7:8200 send-proxy track vault_health/vault-02 ssl sni str("vault-02.homelab.lan") verify required ca-file /etc/haproxy/ca/pki-vault-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
    server vault-03 192.168.20.8:8200 send-proxy track vault_health/vault-03 ssl sni str("vault-03.homelab.lan") verify required ca-file /etc/haproxy/ca/pki-vault-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem

backend consul_backend
    mode http
    balance roundrobin
    option httpchk GET /v1/status/leader
    server consul-01 192.168.20.9:8501 check ssl verify required ca-file /etc/haproxy/ca/pki-consul-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
    server consul-02 192.168.20.10:8501 check ssl verify required ca-file /etc/haproxy/ca/pki-consul-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
    server consul-03 192.168.20.11:8501 check ssl verify required ca-file /etc/haproxy/ca/pki-consul-chain.pem ssl-min-ver TLSv1.3 crt /etc/haproxy/ca/pki-lb-chain.pem
